doctype html
html(lang="en")
    head
        title VS Prospecting Map
        link(rel="stylesheet" href="/css/styles.css")
    body
        .container
            h1 Nothing here
            a(href="/") Go to main page